<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wooley Booley!</title>
</head>

<body>
    <h1>Wooley Mortgage Info</h1>
    <br>
    <h2>Loan Information</h2>
    <p>Loan Amount:  {{.Total_amount}}</p>
    <p>Current Balance:  {{.Current_balance}}</p>
    <p>Principal Paid:  {{.Principal_paid}}</p>
    <p>Percent Principal Paid:  {{.Percent_principal_paid}}</p>
    <p>Interest Saved:  {{.Interest_saved}}</p>
    <p>APR:  {{.Apr}}</p>
    <p>Paid Thru Payment:  {{.Paid_thru}}</p>
    <br>
    <h2>Next Payment Info</h2>
    <p>PaymentDate:  {{.Payment_date}}</p>
    <p>PaymentAmount:  {{.Payment}}</p>
    <p>Principal:  {{.Principal}}</p>
    <p>Interest:  {{.Interest}}</p>
    <p>Balance:  {{.Balance}}</p>
    <p>PaymentNumber:  {{.Payment_number}}</p>
    <p>PercentPrincipal:  {{.Percent_principal}}</p>
    <p>PercentInterest:  {{.Percent_interest}}</p>

</body>

</html>
